@import url('./title-animation.css');
@import url('./colours.css');

/* Global styles */
body {
    margin: 0;
    height: 200vh;  /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    background: var(--background-colour); /* Ensure the background matches your canvas */
    overscroll-behavior: none; /* Prevent scroll chaining */
    padding-bottom: env(safe-area-inset-bottom);
    flex-direction: column;
}

@media (max-width: 1024px) {
    body {
        width: 100%;
    }
}

h1 {
    color: var(--text-body);
    margin: 0;
    padding: 8px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 122px;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

/* General layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 50px;
    padding: 20px;
    box-sizing: border-box;  /* Ensure padding is included in width */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse; /* Change to column layout */
        gap: 0px;
    }
}

/* Header styles */
.header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.canvas {
    cursor: n-resize;
}
