.title-wrapper {
  position: relative;
  overflow: hidden;
  height: 132px; /* Match the h1 line-height */
}

.masked-title {
  user-select: none;
  transform: translateY(100%); /* Start the text below the view */
  animation: revealUp 2s ease forwards 1.8s; /* Apply the animation */
}

@media (max-width: 768px) {
  .title-wrapper {
    height: 32px; /* Adjust to match the smaller line-height */
  }

  .masked-title {
    font-size: 24px;
    line-height: 24px;
  }
}

@keyframes revealUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.blinking {
  animation: blink 2s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}